  <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="open()">
         <i class="material-icons">menu</i>
        </md-button>
        <h2>
          <b><i class="material-icons">directions_run</i><span>TrailRunner</span></b>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
<!--           <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon> -->
          <i class="material-icons">favorite</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
<!--           <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
          <i class="material-icons">more_vert</i>
        </md-button>
      </div>
    </md-toolbar>
  <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo" ng-hide="!trailDistance">
        <h1 class="md-toolbar-tools">Trail Length : {{trailDistance}} miles</h1>
      </md-toolbar>
      <md-content layout-padding="" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button>
        <p hide-md="" show-gt-md="">
        TrailRunner gives you a trail loop based on your entered location and maximum miles for the trail
        </p>

        <div id="directions"></div>
      </md-content>

    </md-sidenav>

    <md-content flex="" layout-padding="">

<!--       <div layout="column" layout-fill="" layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.

        </p>

        <div>
          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
            Toggle left
          </md-button>
        </div>

        <div>
          <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
            Toggle right
          </md-button>
        </div>
</div> -->

         <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <md-input-container class="md-block" flex-gt-xs>
         <label>Enter Location</label>
        <input id="search-box" ng-init="initSearchBox()"  type="text" required>
        </md-input-container>
           <md-input-container>
        <label>Enter trail distance (in miles)</label>
       <input id="trail" ng-model="trailLength"  ng-change="getTrail(trailLength)" type="number"  required>
      </md-input-container>
      <md-input-container>
        <label>Mode</label>
         <md-select ng-model="travelMode" ng-change="getTravelMode(travelMode)" aria-label="select mode" >
              <md-option ng-repeat="mode in travelModes" value="{{mode.value}}">
                {{mode.label}}
              </md-option>
            </md-select>
      </md-input-container>
 <md-button class="md-primary" ng-click="getLoop()">Get trail loop</md-button>
  </md-content>

  <div id="map"></div>

    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding="">
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-autofocus="">
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>
  </section>
